<!-- Coaching/partials/footer.html -->
<footer class="footer">
  <div class="foot">
    <div><small>&copy; 2025 chizsaleei. All Rights Reserved</small></div>

    <div class="foot-center">
      <a href="https://chizsaleei.com/terms.html">Terms</a>
      <a href="https://chizsaleei.com/privacy.html">Privacy</a>
      <a href="https://chizsaleei.com/accessibility.html">Accessibility</a>
    </div>

    <div class="foot-right">
      <a href="mailto:chizsaleei@gmail.com" aria-label="Email" title="Email">
        <img class="icon-img" src="https://chizsaleei/assets/icons/icons8-gmail.svg" alt="Gmail" />
      </a>
      <a href="https://www.linkedin.com/in/chizsaibanez/" target="_blank" rel="noopener" aria-label="LinkedIn" title="LinkedIn">
        <img class="icon-img" src="https://chizsaleei/assets/icons/icons8-linkedin.svg" alt="LinkedIn" />
      </a>
      <a href="https://www.instagram.com/lifebalanceq/" target="_blank" rel="noopener" aria-label="Instagram" title="Instagram">
        <img class="icon-img" src="https://chizsaleei/assets/icons/icons8-instagram.svg" alt="Instagram" />
      </a>
    </div>
  </div>
</footer>
